{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>{% block aba %}Template base{% endblock %}</title>
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info bg-gradient">
        <div class="container px-5">
            <a class="navbar-brand" href="{% url 'home' %}">Guia Médico</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Usuário: {{ user.email }}</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Página Inicial</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'lancar' %}">Cadastrar</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'alterar' %}">Alterar</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'visualizar' %}">Visualizar</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Contato</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <!--<div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                    src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Business Name or Tagline</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it,
                    but it makes a great use of the standard Bootstrap core components. Feel free to use this template
                    for any project you want!</p>
                <a class="btn btn-primary" href="#!">Call to Action!</a>
            </div>
        </div>-->
        <!-- Call to Action-->
        <div class="card text-white bg-primary bg-gradient my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">{% block titulo %}Seja bem-vindo(a) ao Guia Médico, aqui encontrará os profissionais disponíveis.{% endblock %}</p>
            </div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            {% block conteudo %}
            <div class="col-md-4 mb-5">
                <div class="card h-100" style="background-color: #D3D3D3;">
                    <div class="card-body" style="background-color: #FFFFFF;">
                        <h2 class="card-title">Cadastrar Médicos</h2>
                        <p class="card-text">Nesta opção você poderá cadastrar todos os médicos de acordo com as
                            especialidades.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'lancar' %}">Clique aqui</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100" style="background-color: #D3D3D3;">
                    <div class="card-body" style="background-color: #FFFFFF;">
                        <h2 class="card-title">Alterar Médicos</h2>
                        <p class="card-text">Nesta opção você poderá alterar todos os médicos já cadastrados de acordo
                            com as especialidades, inclusive excluir.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'alterar' %}">Clique
                            aqui</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100" style="background-color: #D3D3D3;">
                    <div class="card-body" style="background-color: #FFFFFF;">
                        <h2 class="card-title">Visualizar Médicos</h2>
                        <p class="card-text">Nesta opção você poderá visualizar todos os médicos já cadastrados de
                            acordo com as especialidades.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'visualizar' %}">Clique
                            aqui</a></div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    <!-- Footer-->
    <footer class="fixed-bottom py-2 bg-info bg-gradient">
        <div class="container px-4 px-lg-5">
            <p class="m-0 text-center text-white">Copyright &copy; Guia Médico 2024</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>